1- teacher dashoard {
    1.1- المدرسيين remove (done)
    2.2- icons (done)
    3.3- ألصور تظهر في ادارة الكورسات (done)
    4.4- الطلاب عاوزنها دينميك
    5.5- ال ui عاوز يتحرق
}
2- profileTeacher {
    2.1- صورة البروفايل تتغير
    2.2- متابعة **
        2.2.1- messager **
}
3- profileStudent {
    3.1- صورة البروفايل تتغير
    3.2- عرض الداتا للمحاضرات المدفوعه
    3.3- notification **
}

4- Chat bot (done)
5- videos 
____________________________________________________________________
