1- teacher dashoard {
    1.1- المدرسيين remove (done)
    2.2- icons (done)
    3.3- ألصور تظهر في ادارة الكورسات (done)
    4.4- الطلاب عاوزنها دينميك
}

2- profileTeacher {
    2.1- صورة البروفايل تتغير
    2.2- متابعة (done)
        2.2.1- messager (done)
}

3- profileStudent {
    3.1- صورة البروفايل تتغير
    3.2- عرض الداتا للمحاضرات المدفوعه (done)
    3.3- notification (done)
}

4- Chat bot (done)
5- videos (done)
6- Contact Us Logic
____________________________________________________________________
